<h1>Listar pagamento</h1>

{{#each pagamentos}}
    ID: {{dataValues.id}}<br>
    Nome: {{dataValues.nome}}<br>
    Valor: {{dataValues.valor}}<br>
    Cadastrado: {{#formatDate dataValues.createdAt}}{{/formatDate}}<br>
    <a href="/del-pagamento/{{dataValues.id}}"><button>Apagar</button></a>
    <hr>
{{/each}}